*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;   
 background:rgba(131, 85, 135, 0.2); 
padding:5px;

}

.todo{
    width: 80%;
    max-width: 440px;
background:#fff;
margin: 10px auto 5px;
padding: 20px 15px 35px;
border-radius: 5px;
box-shadow: 5px 10px 1px rgb(135, 134, 133) ;
}
.todo h2{
    color:#7362d7;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
width: 60px;
margin-left: 10px;
}
.sapcebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeeed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 10px 1px rgb(165, 163, 165) ;
}
input{
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;

    background: rgb(240, 176, 127);
   border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 10px 1px rgb(241, 191, 91) inset;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
     user-select: none;
     cursor: pointer;
     position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
border-radius: 50%;
background-image: url('./circl.jpg');
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}
ul li.checked{
    text-decoration: line-through;
    color: black;
}
ul li.checked::before{
    background-image: url('./checked.png');
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
@media(max-width:998px){
    html{
        font-size:55%;
    }
}
@media(max-width:768px)
{
  
    html{
        font-size: 45%;
    }
}